# Sample Talos configuration file

# The title of the report
title: mobile

#*** output options ****
#uncomment to turn on dump to csv option
#csv_dir: 'output'
#comment out next two lines to disable send to graph server
results_server: 'graphs-stage.mozilla.org'
results_link: '/server/collect.cgi'

# browser info
process : fennec
browser_path: ../release/fennec/fennec
browser_log: browser_output.txt
# arguments to pass to browser
extra_args: ''
#how long the browser takes to open/close
browser_wait: 20

branch: mobile

buildid: testbuildid

init_url: getInfo.html

# Preferences to set in the test (use "preferences : {}" for no prefs)
preferences :
  browser.EULA.override : true
  security.fileuri.strict_origin_policy : false
  browser.shell.checkDefaultBrowser : false
  browser.warnOnQuit : false
  browser.link.open_newwindow : 2
  dom.allow_scripts_to_close_windows : true
  dom.disable_open_during_load: false
  dom.max_script_run_time : 0
  browser.dom.window.dump.enabled: true
  network.proxy.type : 1
  network.proxy.http : localhost
  network.proxy.http_port : 80
  dom.disable_window_flip : true
  dom.disable_window_move_resize : true
  security.enable_java : false
  extensions.checkCompatibility : false
  extensions.update.notifyUser: false

# Extensions to install in test (use "extensions: {}" for none)
# Need quotes around guid because of curly braces
# extensions :
#     "{12345678-1234-1234-1234-abcd12345678}" : c:\path\to\unzipped\xpi
#     foo@sample.com : c:\path\to\other\unzipped\xpi
extensions : {}

#any directories whose contents need to be installed in the browser before running the tests
# this assumes that the directories themselves already exist in the firefox path
dirs:
  chrome : page_load_test/chrome
  components : page_load_test/components

# Environment variables to set during test (use env: {} for none)
env :
  NO_EM_RESTART : 1
# Tests to run
#  url         : (REQUIRED) url to load into the given firefox browser
#  url_mod     : (OPTIONAL) a bit of code to be evaled and added to the given url during each cycle of the test
#  resolution  : (REQUIRED) how long (in seconds) to pause between counter sampling
#  cycles      : (REQUIRED) how many times to run the test
#  timeout     : (OPTIONAL) how many seconds the test can run before we consider it failed and quit (default 8 hours)
#  pagetimeout : (OPTIONAL) how many seconds each page is allowed to take before considered to be frozen (default 8 hours)
#            Must be used in conjuction with the pageloader with the -tpnoisy option
#  counters    : (REQUIRED) types of system activity to monitor during test run, can be empty
#            For possible values of counters argument on Windows, see
#            http://technet2.microsoft.com/WindowsServer/en/Library/86b5d116-6fb3-427b-af8c-9077162125fe1033.mspx?mfr=true
#            Possible values on Mac:
#            counters : ['Private Bytes', 'RSS']
#            Possible values on Linux:
#            counters : ['Private Bytes', 'RSS', 'XRes']
#            Standard windows values:
#            counters : ['Working Set', 'Private Bytes', '% Processor Time']

# to set up a new test it must have the correct configuration options and drop information in a standard format
# the format is seen in the regular expressions in ttest.py
# to see how the data passed from the browser is processed see send_to_graph and send_to_csv in run_tests.py
tests :
- name: ts
  url : startup_test/startup_test.html?begin=
  url_mod : str(int(time.time()*1000))
  resolution : 1
  cycles : 10
  timeout: 300
  win_counters : []
  linux_counters : []
  mac_counters : []
  shutdown : True
  profile_path: base_profile
- name: ts_places_generated_max
  url : startup_test/startup_test.html?begin=
  url_mod : str(int(time.time()*1000))
  resolution : 1
  cycles : 10
  timeout: 150
  win_counters : []
  linux_counters : []
  mac_counters : []
  shutdown : True
  profile_path: places_generated_max
- name: ts_places_generated_min
  url : startup_test/startup_test.html?begin=
  url_mod : str(int(time.time()*1000))
  resolution : 1
  cycles : 10
  timeout: 150
  win_counters : []
  linux_counters : []
  shutdown : True
  profile_path: places_generated_min
- name: ts_places_generated_med
  url : startup_test/startup_test.html?begin=
  url_mod : str(int(time.time()*1000))
  resolution : 1
  cycles : 10
  timeout: 150
  win_counters : []
  linux_counters : []
  mac_counters : []
  shutdown : True
  profile_path: places_generated_med
- name: tp4
  url :  '-tp page_load_test/tp4.manifest -tpchrome -tpnoisy -tpformat tinderbox -tpcycles 3'
  resolution : 20
  cycles : 1
  pagetimeout : 700
  win_counters : ['Working Set', 'Private Bytes', '% Processor Time']
  linux_counters : [ 'Private Bytes', 'RSS' ]
  mac_counters : [ 'Private Bytes', 'RSS']
  timeout : 14400
  shutdown : True
  profile_path: base_profile
- name: tdhtml
  url: '-tp page_load_test/dhtml/dhtml.manifest -tpchrome -tpnoisy -tpformat tinderbox -tpcycles 3'
  resolution : 1
  cycles : 1
  pagetimeout : 300
  win_counters : []
  linux_counters : []
  mac_counters : []
  shutdown : False
  profile_path: base_profile
- name: tgfx
  url: '-tp page_load_test/gfx/gfx.manifest -tpchrome -tpnoisy -tpformat tinderbox -tpcycles 3 -tprender'
  resolution : 1
  cycles : 1
  pagetimeout : 300
  win_counters : []
  linux_counters : []
  mac_counters : []
  shutdown : False
  profile_path: base_profile
- name: tsvg
  url: '-tp page_load_test/svg/svg.manifest -tpchrome -tpnoisy -tpformat tinderbox -tpcycles 3'
  resolution : 1
  cycles : 1
  pagetimeout : 300
  win_counters : []
  linux_counters : []
  mac_counters : []
  shutdown : False
  profile_path: base_profile
- name: twinopen
  url: startup_test/twinopen/winopen.xul?phase1=20
  resolution: 1
  cycles : 1
  timeout : 300
  win_counters: []
  linux_counters : []
  mac_counters : []
  shutdown : False
  profile_path: base_profile
- name: tjss
  url: '-tp page_load_test/jss/jss.manifest -tpchrome -tpnoisy -tpformat tinderbox -tpcycles 1'
  resolution : 1
  cycles : 1
  pagetimeout : 300
  win_counters : []
  linux_counters : []
  mac_counters : []
  shutdown : False
  profile_path: base_profile
- name: tsspider
  url: '-tp page_load_test/sunspider/sunspider.manifest -tpchrome -tpnoisy -tpformat tinderbox -tpcycles 3'
  resolution : 1
  cycles : 1
  pagetimeout : 400
  win_counters : []
  linux_counters : []
  mac_counters : []
  shutdown : False
  profile_path: base_profile
- name: tpan
  url: startup_test/fennecmark/fennecmark.html?test=PanDown
  resolution: 1
  cycles : 10
  timeout : 300
  win_counters: []
  linux_counters : []
  mac_counters : []
  shutdown : False
  profile_path: base_profile
- name: tzoom
  url: startup_test/fennecmark/fennecmark.html?test=Zoom
  resolution: 1
  cycles : 10
  timeout : 300
  win_counters: []
  linux_counters : []
  mac_counters : []
  shutdown : False
  profile_path: base_profile
